In [10]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [11]:
health_df = pd.read_csv("2013_-_2018_Demographic_Snapshot_School.csv", sep=",")
health_df.head()

,DBN,School Name,Year,Total Enrollment,Grade PK (Half Day & Full Day),Grade K,Grade 1,Grade 2,Grade 3,Grade 4,...,% Multiple Race Categories Not Represented,# White,% White,# Students with Disabilities,% Students with Disabilities,# English Language Learners,% English Language Learners,# Poverty,% Poverty,Economic Need Index
0,01M015,P.S. 015 Roberto Clemente,2013-14,190,26,39,39,21,16,26,...,1.1,3,1.6,65,34.2,19,10.0,171,90.0,No Data
1,01M015,P.S. 015 Roberto Clemente,2014-15,183,18,27,47,31,19,17,...,0.5,2,1.1,64,35.0,17,9.3,169,92.3,93.5%
2,01M015,P.S. 015 Roberto Clemente,2015-16,176,14,32,33,39,23,17,...,1.7,2,1.1,60,34.1,16,9.1,149,84.7,89.6%
3,01M015,P.S. 015 Roberto Clemente,2016-17,178,17,28,33,27,31,24,...,2.2,4,2.2,51,28.7,12,6.7,152,85.4,89.2%
4,01M015,P.S. 015 Roberto Clemente,2017-18,190,17,28,32,33,23,31,...,1.1,6,3.2,45,23.7,8,4.2,161,84.7,89.0%

In [12]:
health_df.columns

Index(['DBN', 'School Name', 'Year', 'Total Enrollment',
       'Grade PK (Half Day & Full Day)', 'Grade K', 'Grade 1', 'Grade 2',
       'Grade 3', 'Grade 4', 'Grade 5', 'Grade 6', 'Grade 7', 'Grade 8',
       'Grade 9', 'Grade 10', 'Grade 11', 'Grade 12', '# Female', '% Female',
       '# Male', '% Male', '# Asian', '% Asian', '# Black', '% Black',
       '# Hispanic', '% Hispanic',
       '# Multiple Race Categories Not Represented',
       '% Multiple Race Categories Not Represented', '# White', '% White',
       '# Students with Disabilities', '% Students with Disabilities',
       '# English Language Learners', '% English Language Learners',
       '# Poverty', '% Poverty', 'Economic Need Index'],
      dtype='object')

In [13]:
health_df.columns = [x.replace(" ", "_").replace("_(cm)", "") for x in health_df.columns]

In [14]:
health_df.head()

,DBN,School_Name,Year,Total_Enrollment,Grade_PK_(Half_Day_&_Full_Day),Grade_K,Grade_1,Grade_2,Grade_3,Grade_4,...,%_Multiple_Race_Categories_Not_Represented,#_White,%_White,#_Students_with_Disabilities,%_Students_with_Disabilities,#_English_Language_Learners,%_English_Language_Learners,#_Poverty,%_Poverty,Economic_Need_Index
0,01M015,P.S. 015 Roberto Clemente,2013-14,190,26,39,39,21,16,26,...,1.1,3,1.6,65,34.2,19,10.0,171,90.0,No Data
1,01M015,P.S. 015 Roberto Clemente,2014-15,183,18,27,47,31,19,17,...,0.5,2,1.1,64,35.0,17,9.3,169,92.3,93.5%
2,01M015,P.S. 015 Roberto Clemente,2015-16,176,14,32,33,39,23,17,...,1.7,2,1.1,60,34.1,16,9.1,149,84.7,89.6%
3,01M015,P.S. 015 Roberto Clemente,2016-17,178,17,28,33,27,31,24,...,2.2,4,2.2,51,28.7,12,6.7,152,85.4,89.2%
4,01M015,P.S. 015 Roberto Clemente,2017-18,190,17,28,32,33,23,31,...,1.1,6,3.2,45,23.7,8,4.2,161,84.7,89.0%